/* 전체 화면 설정 */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 이미지 스타일 */
.image-wrapper {
  width: 100%;
  max-width: 800px;
  height: 200px; 
  margin-bottom: 0px;
  overflow: hidden; 
  border-radius: 10px 10px 0 0; 
}

.responsive {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

/* 텍스트 영역 스타일 */
.text-wrapper {
  max-width: 800px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0 0 10px 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

/* 문구의 크기와 색상 조정 */
.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.description .highlight {
  font-size: 1.3rem; /* 크기 조정 */
  color: #007BFF; /* 색상 조정 */
}

.description .emphasis {
  font-size: 1.4rem; /* 크기 조정 */
  color: #FF5733; /* 색상 조정 */
}

.download-button {
  background-color: #007BFF;
  color: white;
  padding: 12px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .download-button {
    padding: 10px 18px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .download-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
